<!DOCTYPE html>
<html>
    <head>
        <%include ../partial-pages/css.ejs%>
    </head>
    <body class="skin-blue">
       <%include ../partial-pages/master_head.ejs%>
        <div class="wrapper row-offcanvas row-offcanvas-left">
           <%include ../partial-pages/master_left.ejs%>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1 style="font-size:22px;">
                        Bayi Listeleme Ekranı
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-mobile-phone"></i> Mobil Uygulamalar</a></li>
                        <li class="active">Bayi Listele</li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <h3 class="box-title">Bayi Listeleme</h3>
                                    </div><!-- /.box-header -->
                                    
                                    <div class="box-body">
                                        <table class="table table-bordered bayiler">
                                            <tr style="border-bottom:3px solid #3c8dbc;">
                                                <th class="text-center" style="width: 40px">#</th>
                                                <th>Bayi Adı</th>
                                                <th>E-mail</th>
                                                <th>Telefon-1</th>
                                                <th>Telefon-2</th>
                                                <th>GSM</th>
                                                <th>Fax</th>
                                                <th>Adres</th>
                                                <th class="text-center" style="width:40px"></th>
                                            </tr>
                                            <tbody>
                                                <%for(var i=0;i<iletisimListesi.length;i++){%>
                                                    <tr id="<%=iletisimListesi[i]._id%>">
                                                    <td class="text-center"><%=i+1%></td>
                                                    <td><%=iletisimListesi[i].bayiAdi%></td>
                                                    <td><%=iletisimListesi[i].email%></td>
                                                    <td><%=iletisimListesi[i].telefon1%></td>
                                                    <td><%=iletisimListesi[i].telefon2%></td>
                                                    <td><%=iletisimListesi[i].gsm%></td>
                                                    <td><%=iletisimListesi[i].fax%></td>
                                                    <td><%=iletisimListesi[i].adres%></td>
                                                    <td id="<%=iletisimListesi[i]._id%>">
                                                        <button class="btn btn-danger btn-sm sil " data-toggle="tooltip" data-placement="top" title="Sil"><i class="fa fa-trash-o"></i></button>
                                                    </td>                                                
                                                </tr>
                                                <%}%>
                                            </tbody>
                                        </table>
                                    </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </div>
                        </div>
                    </div>
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
       <%include ../partial-pages/script.ejs%>
        <script src="../js/helper.js/Helper.js"></script>
        <script src="../js/pages-js/iletisim_listele.js"></script>
    </body>
</html>