<!DOCTYPE html>
<html>
    <head>
        <%include ../partial-pages/css.ejs%>
    </head>
    <body class="skin-blue">
       <%include ../partial-pages/master_head.ejs%>
        <div class="wrapper row-offcanvas row-offcanvas-left">
           <%include ../partial-pages/master_left.ejs%>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1 style="font-size:22px;">
                        Referans Listeleme Ekranı
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-mobile-phone"></i> Mobil Uygulamalar</a></li>
                        <li class="active">Referans Listele</li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <h3 class="box-title">Referans Listeleme</h3>
                                    </div><!-- /.box-header -->
                                    
                                    <div class="box-body">
                                       <div class="row">
                                            <div class="col-md-1">
                                                <select name="" id="" class="form-control">
                                                    <option value="">1</option>
                                                    <option value="">2</option>
                                                    <option value="">3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <table class="table table-bordered referanslar">
                                            <tr style="border-bottom:3px solid #3c8dbc;">
                                                <th class="text-center" style="width: 40px">#</th>
                                                <th>Proje Yeri</th>
                                                <th>Bayi</th>
                                                <th>Kullanılan Ürün</th>
                                                <th>Açıklama</th>
                                                <th>Fotoğraf</th>
                                                <th class="text-center" style="width: 100px"></th>
                                            </tr>
                                            <tbody>
                                                 <%for(var i = 0; i< referanslar.length; i++){%>
                                                     <tr id="<%=referanslar[i]._id%>">
                                                        <td class="text-center"><%=(i+1)%></td>
                                                        <td><%=referanslar[i].projeYeri%></td>
                                                        <td><%=referanslar[i].bayi%></td>
                                                        <td><%=referanslar[i].kullanilanUrun%></td>
                                                        <td><%=referanslar[i].aciklama%></td>
                                                        <td>
                                                            <%for(var j = 0; j < referanslar[i].fotograflar.length; j++){%>
                                                                <a temp="<%=referanslar[i].fotograflar[j]._id%>" href="<%=referanslar[i].fotograflar[j].link%>" data-toggle="lightbox" data-title="Fotograf-<%=(i+1)%>">
                                                                    <img src="<%=referanslar[i].fotograflar[j].link%>" alt="" class="img-responsive img-thumbnail" style="max-height:60px;">
                                                                    <a class="resimSil" href="Javascript:void(0)" id="<%=referanslar[i].fotograflar[j]._id%>" style="margin-top:-5px; margin-left:-10px; position:absolute;" data-toggle="tooltip" data-title="Sil" data-placement="top"><i class="fa fa-times-circle" style="font-size:18px; color:#f56954"></i></a>
                                                                </a>
                                                            <%}%>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-danger btn-sm sil " data-toggle="tooltip" data-placement="top" title="Sil"><i class="fa fa-trash-o"></i></button>
                                                        </td>                                                
                                                    </tr>
                                                 <%}%>
                                            </tbody>
                                        </table>
                                    </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </div>
                        </div>
                    </div>
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
       <%include ../partial-pages/script.ejs%>
        <script src="../js/helper.js/Helper.js"></script>
        <script src="../js/pages-js/referans_listele.js"></script>
    </body>
</html>