<!DOCTYPE html>
<html>
    <head>
        <%include ../partial-pages/css.ejs%>
    </head>
    <body class="skin-blue">
       <%include ../partial-pages/master_head.ejs%>
        <div class="wrapper row-offcanvas row-offcanvas-left">
           <%include ../partial-pages/master_left.ejs%>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1 style="font-size:22px;">
                        Yapılmış Eğitim Listeleme Ekranı
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-mobile-phone"></i> Mobil Uygulamalar</a></li>
                        <li class="active">Yapılmış Eğitim Listele</li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <h3 class="box-title">Yapılmış Eğitim Listeleme</h3>
                                    </div><!-- /.box-header -->
                                    
                                    <div class="box-body">
                                        <table class="table table-bordered yapilmisEgitimler">
                                            <tr style="border-bottom:3px solid #3c8dbc;">
                                                <th class="text-center" style="width: 40px">#</th>
                                                <th>Tarih</th>
                                                <th>Başlık</th>
                                                <th>İçerik</th>
                                                <th>Resim</th>
                                                <th class="text-center" style="width: 100px"></th>
                                            </tr>
                                            <tbody>
                                                <%for(var i=0;i<yapilmisEgitimler.length;i++){%>
                                                    
                                                 <tr id="<%=yapilmisEgitimler[i]._id%>">
                                                    <td class="text-center"><%(i+1)%></td>
                                                    <td><%=yapilmisEgitimler[i].tarih%></td>
                                                    <td><%=yapilmisEgitimler[i].baslik%></td>
                                                    <td><%=yapilmisEgitimler[i].aciklama.substring(0,100)%>...</td>
                                                    <td>
                                                        <a href="<%=yapilmisEgitimler[i].dosyaLinki%>">Link</a>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger btn-sm sil " data-toggle="tooltip" data-placement="top" title="Sil"><i class="fa fa-trash-o"></i></button>
                                                    </td>                                                
                                                </tr>
                                                <%}%>
                                            </tbody>
                                        </table>
                                    </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </div>
                        </div>
                    </div>
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
       <%include ../partial-pages/script.ejs%>
        <script src="../js/helper.js/Helper.js"></script>
        <script src="../js/pages-js/yapilmisEgitimlerListele.js"></script>
    </body>
</html>